absl-py==0.12.0
addict==2.4.0
aiocontextvars==0.2.2
argon2-cffi==20.1.0
astor==0.8.1
astunparse==1.6.3
async-generator==1.10
attrs==20.3.0
backcall==0.2.0
bleach==3.3.0
bottle==0.12.19
cached-property==1.5.2
cachetools==4.2.1
certifi==2019.11.28
cffi==1.14.5
chardet==4.0.0
colorama==0.4.4
conan==1.34.1
contextvars==2.4
cryptography==3.4.7
cycler==0.10.0
dataclasses==0.8
decorator==4.4.2
defusedxml==0.7.1
deprecation==2.0.7
distro==1.5.0
entrypoints==0.3
fasteners==0.16
ffmpeg==1.4
filelock==3.0.12
flatbuffers==1.12
freetype-py==2.2.0
future==0.18.2
fvcore==0.1.4.post20210326
gast==0.2.2
gdown==3.13.0
google-auth==1.27.1
google-auth-oauthlib==0.4.3
google-pasta==0.2.0
graphviz==0.8.4
grpcio==1.34.1
gst==0.1.0
h5py==2.10.0
idna==2.10
imageio==2.9.0
imageio-ffmpeg==0.4.4
immutables==0.15
importlib-metadata==3.7.3
imutils==0.5.4
install==1.3.4
iohandler==1.0.6
iopath==0.1.8
ipykernel==5.5.0
ipython==7.16.1
ipython-genutils==0.2.0
ipywidgets==7.6.3
jedi==0.18.0
Jinja2==2.11.3
joblib==1.0.1
jsonschema==3.2.0
jupyter-client==6.1.12
jupyter-core==4.7.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
Keras-Applications==1.0.8
keras-nightly==2.5.0.dev2021031600
Keras-Preprocessing==1.1.2
kiwisolver==1.1.0
loguru==0.5.3
Markdown==3.3.4
MarkupSafe==1.1.1
matplotlib==3.3.4
mistune==0.8.4
mmdnn==0.3.1
moviepy==1.0.2
mxnet-cu102==1.8.0.post0
nbclient==0.5.3
nbconvert==6.0.7
nbformat==5.1.2
nest-asyncio==1.5.1
networkx==2.3
node-semver==0.6.1
notebook==6.3.0
numpy==1.19.5
oauthlib==3.1.0
open3d==0.12.0
opencv-contrib-python==4.5.1.48
opencv-python==4.5.1.48
opt-einsum==3.3.0
packaging==20.9
pandas==1.1.5
pandocfilters==1.4.3
parso==0.8.1
patch-ng==1.17.4
pathlib==1.0.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.1.0
pluginbase==1.0.0
plyfile==0.7.3
portalocker==2.2.1
proglog==0.1.9
prometheus-client==0.9.0
prompt-toolkit==3.0.18
protobuf==3.15.6
ptyprocess==0.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybind11==2.6.2
pycairo==1.20.0
pycparser==2.20
pygame==2.0.1
pygifsicle==1.0.4
pyglet==1.5.15
Pygments==2.8.1
PyGObject==3.40.1
PyJWT==1.7.1
PyOpenGL==3.1.0
pyOpenSSL==20.0.1
pyparsing==2.4.6
pyrender==0.1.45
pyrsistent==0.17.3
PySocks==1.7.1
pytesseract==0.3.7
python-dateutil==2.8.1
pytz==2021.1
PyWavelets==1.1.1
PyYAML==5.4.1
pyzmq==22.0.3
renderer==1.0.3
requests==2.25.1
requests-oauthlib==1.3.0
rsa==4.7.2
scikit-image==0.17.2
scikit-learn==0.24.1
scipy==1.5.4
Send2Trash==1.5.0
Shapely==1.7.1
six==1.15.0
sklearn==0.0
smplx==0.1.26
stereoscopy==2.0.1
structlog==21.1.0
tabulate==0.8.9
tb-nightly==2.5.0a20210316
tensorboard==1.15.0
tensorboard-data-server==0.4.0
tensorboard-plugin-wit==1.8.0
tensorboardX==2.2
tensorflow==1.15.0
tensorflow-estimator==1.15.1
termcolor==1.1.0
terminado==0.9.3
testpath==0.4.4
tf-estimator-nightly==2.5.0.dev2021031601
tf-nightly==2.5.0.dev20210316
threadpoolctl==2.1.0
tifffile==2020.9.3
torch==1.8.1
torchgeometry==0.1.2
torchvision==0.9.1
tornado==6.1
tqdm==4.59.0
traitlets==4.3.3
transforms3d==0.3.1
trimesh==3.9.10
typing==3.7.4.3
typing-extensions==3.7.4.3
urllib3==1.25.11
utils==1.0.1
vispy==0.6.4
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wrapt==1.12.1
yacs==0.1.8
zipp==3.4.1
